<!DOCTYPE html>
<html>
	<style>
		.container{
			display:flex;
			justify-content: center;
			align-items:center;
			height:100vh;
		}
		#image{
			height:400px;
			width:300px;
			border-radius:25px;
			box-shadow: 2px 2px 5px black;
		}
	</style>
	<body>
		<div class="container">
			<img id="image" src="pic.jpeg"  />
		</div>
	</body>
</html>
